#footer-container {
	border-top: none;
	margin-top: 0;
	background-color: $blue;
	h6 {
		font-family: Helvetica;
		margin-top: 40px;
		margin-bottom: 40px;
		font-size: 14px;
		color: white;
		text-align: center;
	}
	strong {
		color: $yellow;
	}
}