/* Navigation breakpoints */

.desktop-menu, .top-bar-left, .top-bar-right {
  @include show-for(medium);
}

#mobile-menu, .title-bar {
  @include hide-for(medium);
}

/* Mobile menu */

.off-canvas {
 > ul.menu {
    height: 100vh;
    padding: 1rem;
  }
}

.top-bar, .top-bar-right{

  .dropdown.menu .submenu {
    background-color: white;
    color: $blue;
    border: 10px solid white;
  }

  .dropdown.menu .has-submenu.is-down-arrow a { padding-left: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }

  .dropdown.menu:first-child >
    li.is-dropdown-submenu-parent >
    a::after {
      display: none;
    }

}